MONGO_USERNAME=votre_utilisateur_mongodb
MONGO_PASSWORD=votre_mot_de_passe_mongodb
JWT_SECRET=votre_secret_jwt_tres_long_et_aleatoire
MOODLE_URL=https://moodle.univ-rouen.fr
API_URL=https://api-burn.grltt.fr
# FRONTEND_URL=http://localhost:8080