.bigExternalLink {
    backdrop-filter: blur(50px);
    backdrop-filter: brightness(1.3);
    border: solid 1px var(--nav-border);
    border-radius: 30px;
    overflow: hidden;
    padding: 15px 25px;
    display: flex;
    gap: 20px;
    font-weight: 200;
    width: fit-content;
    min-width: fit-content;
    transition: backdrop-filter 0.5s, color 0.5s;
    font-size: 13px;
    color: var(--nav-icon-color);
    align-items: center;
}

.bigExternalLink:hover {
    backdrop-filter: brightness(1.6);
    color: var(--nav-icon-hover);
}