.groupNotes {
    background: #4343431c;
    border: solid 1px #ffffff0f;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notes .groupNotes h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
}

.groupNotes .groupNotes-content {
    max-height: 1000px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.groupNotes .groupNotes-header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: nowrap;
}